.filed {
	min-height: 85px;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.filed__title {
	height: 20px;
}

.filed__input {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.filed__input[type='text'],
.filed__input[type='email'],
.filed__input[type='password'],
.filed__input[type='url'] {
	height: 30px;
}

.filed__input[type='textarea'] {
	height: 100px;
	resize: vertical;
}
