.wrapper {
	margin: 0 auto;
	width: 98%;

	display: flex;
	gap: 16px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 0 0 calc((100% - 32px) / 3);

	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #efeded;
}

.card__title {
	font-size: 24px;
}

.card__description {
	font-size: 20px;
}
